.uniqButton:active {
    background-color: rgb(0, 0, 0) !important;
  }

  .uniqButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #800080;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .uniqButtonSceleton {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .uniqButton:hover {
    background-color: #fff;
    color: purple;
    transition: 0.2s;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(255, 0, 242);
    outline: none;
    transform: scale(1.03);
    text-shadow: 2px 5px 5px rgb(247, 0, 255);
  }
  