#root {
  margin: 0 auto;
  /* padding: 2px; */
}

body {
  background-color: #001529;
}

.logo {
  width: 40px;
  transition: all 0.4s;
  cursor: pointer;
}

@keyframes logo-animation {
  0% {
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px rgb(255, 255, 255)) drop-shadow(0 0 10px rgb(255, 255, 255));
  }

  100% {
    transform: scale(1);
  }
}

.logo.anim {
  animation: logo-animation 1.5s infinite;
}

.main {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 25px;
}

.menu {
  border-radius: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  background-color: transparent;
  height: 40px;
  margin-top: 7px;
  gap: 5px;
}

p {
  margin: unset !important;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  /* background-color: #001529; */
}
.animationLoading {
  border-radius: 50%;
  background-color: #001529;
  box-shadow: 0 0 30px rgb(162, 0, 255); /* Изменен цвет и прозрачность тени */
}