.dark {
  background-color: #001529;
  color: #fff;
}
.dark body {
  background-color: #001529 !important;
}

.dark .uniqButton:hover {
  background-color: inherit;
  color: #fff;
  text-shadow: unset;
}
@media (hover: hover) {
  .dark .answer:hover {
    background-color: inherit;
    color: #fff;
  }
  /* .dark .answer:focus {
    background-color: inherit;
    color: #fff;
  } */
}

.dark h1,
.dark .steps {
  color: rgb(255, 255, 255);
}

.dark .restDefault {
  background-color: #3a3030;
}
