.prog {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: #50515346;
  }
  
  .percent {
    width: 10%;
    height: 10px;
    border-radius: 10px;
    text-align: left;
    background-image: linear-gradient(
      to left,
      rgb(235, 120, 250) 10%,
      rgb(235, 31, 235) 20%,
      rgb(175, 3, 175) 65%
    );
    transition: 0.9s ease-in-out;
  }